@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@1,300&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background: #D7E6E9;
   font-family: 'Tomorrow';
   font-weight: 400;
}

.container{
   width: 500px;
   height: 500px;
   background: #91BBC4;
   border: 1px solid #174C57;
   margin: 0 auto;
}
.status{
   font-size: 40px;
   text-align: center;
}
.board{
   background: #91BBC4;
   border: 1px solid #174C57;
   width: 452px;
   height: 450px;
}
.cells{
   background: linear-gradient(0deg, #9CD8E4, #9CD8E4), linear-gradient(0deg, #9CD8E4, #9CD8E4), linear-gradient(0deg, #9CD8E4, #9CD8E4), linear-gradient(0deg, #9CD8E4, #9CD8E4), #9CD8E4;
border: 1px solid #174C57;

width: 150px;
height: 150px;
font-size: 150px;
}